<!-- Button trigger add modal -->
<button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    (click)="modalAdd()">
    Add Country
</button>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Country Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of countries$|async">
            <td>{{item.countryId}}</td>
            <td>{{item.countryName}}</td>
        </tr>
    </tbody>
</table>


<!-- Add new country Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{activeTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-edit-country></app-add-edit-country>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>